<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470013044742-nfbf3icicc1ro6udt1l1tnhh8m70ofa8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470013044742-nfbf3icicc1ro6udt1l1tnhh8m70ofa8</string>
	<key>API_KEY</key>
	<string>AIzaSyAmLYcSs6qB81dX3z8rn1hgVaS0yaz5DKM</string>
	<key>GCM_SENDER_ID</key>
	<string>470013044742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>beautyshop-afe23</string>
	<key>STORAGE_BUCKET</key>
	<string>beautyshop-afe23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470013044742:ios:b82f17ec12b684cf96bb87</string>
	<key>DATABASE_URL</key>
	<string>https://beautyshop-afe23.firebaseio.com</string>
</dict>
</plist>